#main-block{
    float: left;
    padding: 15px;
    background-color: darkolivegreen;
    color: #fff;
    width: 50%;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    padding: 15px;
    background-color: rgb(4, 8, 125);
    color: #fff;
    width: 50%;
    box-sizing: border-box;
}

.p-box{
    background-color: blueviolet;
    color: black;
    width: 100%;
    border: 3px dotted solid black;
}

.fix-me{
    position: relative;
    top: 2px;
}

.my-list li:first-child{
    background-color: rgb(232, 123, 6);
}

.my-list li:nth-child(2){
    background-color: rgb(239, 216, 10);
}

.my-list li:nth-child(3){
    background-color: rgb(170, 8, 118);
}

.my-list li:nth-child(4){
    background-color: rgb(61, 16, 238);
}

.my-list li:last-child{
    background-color: darkcyan;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color: coral;
    color: #fff;
}
#navbar{
    background-color: #333;
    color: #fff;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}
#navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase{
    background-color: gray;
    height: 300px;
    margin-bottom: 30px;
    text-align: center;
}
#showcase h1{
    color: #fff;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}

#main{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar2{
    float: right;
    width: 30%;
    background: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width:600px){
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}